<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit"/>
    <meta charset="utf-8" name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script crossorigin="anonymous" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" src="https://lib.baomitu.com/jquery/3.5.1/jquery.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="../common/vue.js"></script>
    <script src="../common/axios.js"></script>
    <link rel="stylesheet" href="../css/index.css"/>
    <title>首页</title>
</head>
<body>
    <div id="app" class="container-fluid" style="position:relative">
        <button style="position:absolute;top:10px;right:100px;" type="button" class="btn btn-primary" @click="handerAdd">新增/修改</button>
        <button style="position:absolute;top:10px;right:10px;" type="button" class="btn btn-primary" @click="handerInsert">批量注入</button>
        <div class="page-header">
            <h4>列表</h4>
        </div>

        <div class="form-inline">
            <div class="form-group">
                <label for="yearInput">年份</label>
                <input @keyup.13="getList" type="text" v-model="year" class="form-control" id="yearInput" placeholder="年份">
            </div>
            <div class="form-group">
                <label for="monthInput">月份</label>
                <input @keyup.13="getList" type="text" v-model="month" class="form-control" id="monthInput" placeholder="月份">
            </div>
            <button class="btn btn-success" @click="getList">查询</button>
        </div>

        <ul class="list-group" style="margin-top:50px;">
            <li v-for="item of list" :class="['list-group-item',{'list-group-item-danger' : !item.isFinish}, {'list-group-item-success' : item.isFinish}]"
                style="font-size:20px;font-weight: bold;"
                @click="handleClick(item)"
            >
                {{item.roomNum}}
                <span style="margin-left:10px;"
                      v-if="item.totalPrice || item.totalPrice === 0"
                >{{item.totalPrice === 0 ? '新增' :`总：${item.totalPrice}`}}</span>
                <span style="margin-left:10px;">电:{{item.electric}}</span>
                <span style="margin-left:10px;">水:{{item.water}}</span>
            </li>
        </ul>

        <div class="loading" v-if="showLoading">
            <div class="loading-text">请稍后..</div>
        </div>
    </div>

    <script>
        $(() => {
            new Vue({
                el: '#app',
                data(){
                    return {
                        list:["test1","test2"],
                        year: "",
                        month: "",
                        showLoading: false
                    }
                },
                mounted() {
                    this.init()
                },
                methods: {
                    init() {
                        //获取记录

                        if(localStorage.getItem("remember")) {
                            let remember = JSON.parse(localStorage.getItem("remember"))
                            this.year = remember.year
                            this.month = remember.month
                        } else {
                            let d = new Date()
                            this.year = d.getFullYear()
                            this.month = d.getMonth() + 1
                        }

                        this.getList()

                    },
                    async getList() {
                        if(!this.year || !this.month) return

                        let remember = {
                            year: this.year,
                            month: this.month
                        }
                        localStorage.setItem("remember", JSON.stringify(remember))


                        this.showLoading = true
                        const res = await axios.post("/getList",{
                            year: this.year,
                            month: this.month
                        })
                        this.showLoading = false

                        //判断是否存在已经进行缴费的

                        this.list = res.data.list
                        let finishList = res.data.finishList
                        if(!finishList) return
                        this.list.forEach((item, idx) => {
                            finishList.forEach((finishItem) => {
                                let id = finishItem.roomId
                                if(id === item.id) {
                                    item.isFinish = true
                                    item.totalPrice = finishItem.totalPrice
                                    item.water = finishItem.water
                                    item.electric = finishItem.electric
                                    this.$set(this.list, idx, item)
                                }
                            })
                        })
                    },
                    handleClick(item) {
                        if(item.totalPrice === 0) return
                        let params = {
                            id: item.id,
                            year: this.year,
                            month: this.month
                        }
                        localStorage.setItem("params", JSON.stringify(params))
                        window.location.href = "/detail"
                    },
                    handerInsert() {
                        let params = {
                            year: this.year,
                            month: this.month
                        }
                        localStorage.setItem("params", JSON.stringify(params))
                        window.location.href = "/insert"
                    },
                    handerAdd() {
                        let params = {
                            year: this.year,
                            month: this.month
                        }
                        localStorage.setItem("params", JSON.stringify(params))
                        window.location.href = "/addRoom"
                    }

                }
            })
        })

    </script>
</body>
</html>