<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit"/>
    <meta charset="utf-8" name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script crossorigin="anonymous" integrity="sha512-WNLxfP/8cVYL9sj8Jnp6et0BkubLP31jhTG9vhL/F5uEZmg5wEzKoXp1kJslzPQWwPT1eyMiSxlKCgzHLOTOTQ==" src="https://lib.baomitu.com/jquery/3.5.1/jquery.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="../common/vue.js"></script>
    <script src="../common/axios.js"></script>
    <link rel="stylesheet" href="../css/index.css" />
    <title>detail</title>
</head>
<body>
    <div id="app" class="container-fluid" style="position: relative">
        <button @click="handleBack" type="button" class="btn btn-primary" style="position: absolute;top:10px;right:10px;">返回</button>
        <div class="page-header">
            <h4>详情</h4>
        </div>

        <div class="form-inline">
            <div class="form-group">
                <label for="yearInput">年份</label>
                <input @keyup.13="getDetail" type="text" v-model="year" class="form-control" id="yearInput" placeholder="年份">
            </div>
            <div class="form-group">
                <label for="monthInput">月份</label>
                <input @keyup.13="getDetail" type="text" v-model="month" class="form-control" id="monthInput" placeholder="月份">
            </div>
            <button type="button" class="btn btn-success" @click="getDetail" style="margin:10px 0;">查询</button>
        </div>

        <form class="form-inline" v-if="origin">
            <div class="form-group">
                <label for="roomNum">房间名/编号</label>
                <input type="text" v-model="origin.roomNum" class="form-control" id="roomNum" disabled>
            </div>
            <div class="form-group">
                <label for="price">租金</label>
                <input type="text" v-model="origin.price" class="form-control" id="price">
            </div>
        </form>

        <div style="height:10px"></div>

        <form class="form-inline" v-if="before">
            <div class="form-group">
                <label for="beforeEle">{{before.detail.year}}年{{before.detail.month}}月用电</label>
                <input type="text" v-model="before.detail.electric" class="form-control" id="beforeEle" disabled>
            </div>
            <div class="form-group">
                <label for="beforeWater">{{before.detail.year}}年{{before.detail.month}}月用水</label>
                <input type="text" v-model="before.detail.water" class="form-control" id="beforeWater" disabled>
            </div>
        </form>
        <div class="alert alert-danger" role="alert" v-else>没有查询到上个月数据</div>

        <div style="height:10px"></div>

        <form class="form-inline" v-if="current">
            <div class="form-group">
                <label for="curEle">{{current.detail.year}}年{{current.detail.month}}月头用电</label>
                <input type="text" v-model="current.detail.electric" class="form-control" id="curEle">
            </div>
            <div class="form-group">
                <label for="curWater">{{current.detail.year}}年{{current.detail.month}}月头用水</label>
                <input type="text" v-model="current.detail.water" class="form-control" id="curWater">
            </div>
        </form>

        <form class="form-inline" v-else>
            <div class="form-group">
                <label for="electric">{{year}}年{{month}}月头用电</label>
                <input type="text" v-model="electric" class="form-control" id="electric" >
            </div>
            <div class="form-group">
                <label for="water">{{year}}年{{month}}月头用水</label>
                <input type="text" v-model="water" class="form-control" id="water">
            </div>
        </form>

        <div class="alert alert-success" style="margin-top:10px;" role="alert" v-if="showTotal">统计：{{currentTotalPrice}}</div>

        <button type="button" class="btn btn-primary" @click="update" v-if="current">更新</button>
        <button type="button" class="btn btn-primary" @click="add" v-if="!current">写入</button>

        <div class="loading" v-if="showLoading">
            <div class="loading-text">请稍后..</div>
        </div>


        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">温馨提醒</h4>
                </div>
                <div class="modal-body">
                   操作成功
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script>
        $(() => {
            new Vue({
                el: '#app',
                data(){
                    return {
                        showLoading: false,
                        current: null,
                        before: null,
                        origin: null,
                        month:"",
                        year:"",
                        electric:"",
                        water:"",
                        currentTotalPrice:0

                    }
                },
                mounted() {
                    let date = new Date()
                    this.month = date.getMonth() + 1;
                    this.year = date.getFullYear();
                    this.getDetail()
                },
                computed:{
                    showTotal() {
                        if(this.before && this.current) {
                            return true
                        } else if(this.before && this.water && this.electric) {
                            return true
                        } else {
                            return false
                        }
                    }
                },
                methods: {
                    handleBack() {
                        window.history.back()
                    },
                    async getDetail() {
                        if(!this.year || !this.month) return
                        this.showLoading = true
                       //获取id
                        let params = JSON.parse(localStorage.getItem("params"))
                        const res = await axios.post("/getRoomDetail",{
                            year: this.year,
                            month: this.month,
                            id: params.id
                        })
                        this.showLoading = false
                        this.current = res.data.current
                        this.before = res.data.before
                        this.origin = res.data.origin
                    },
                    //写入最新的数据
                    add() {
                        if(this.electric && this.water) {
                            this.showLoading = true
                            let data = {
                                year: this.year,
                                month: this.month,
                                electric: this.electric,
                                water: this.water,
                                roomId: this.origin.id,
                                price: this.origin.price
                            }
                            axios.post("/saveDetail",data).then((res) => {
                                this.showLoading = false
                                $('#myModal').modal('show')
                                this.getDetail()
                            })

                        }
                    },
                    //更改当前查询出来的数据
                    update(){
                        if(this.current.detail.electric && this.current.detail.water) {
                            this.showLoading = true
                            let data = {
                                year: this.year,
                                month: this.month,
                                electric: this.current.detail.electric,
                                water: this.current.detail.water,
                                roomId: this.origin.id,
                                price: this.origin.price
                            }
                            axios.post("/saveDetail",data).then((res) => {
                                this.showLoading = false
                                $('#myModal').modal('show')
                                this.getDetail()
                            })

                        }
                    },
                    /**
                     * 当上个月数据存在时执行
                     */
                    handleChange() {
                        if(!this.before) return
                        let beforeElectric = this.before.detail.electric - 0
                        let beforeWater = this.before.detail.water - 0

                        let electric = null
                        let water = null
                        if(this.current) {
                            electric = this.current.detail.electric
                            water = this.current.detail.water
                        } else {
                           electric = this.electric - 0
                            water = this.water - 0
                        }
                        let price = this.origin.price - 0
                        let electricPrice = (electric - beforeElectric) * 1.5
                        let waterPrice = (water - beforeWater) * 4
                        this.currentTotalPrice = price + electricPrice + waterPrice
                    }
                },
                watch: {
                    water() {
                        this.handleChange()
                    },
                    electric() {
                        this.handleChange()
                    },
                    origin:{
                        deep: true,
                        handler() {
                            this.handleChange()
                        }
                    },
                    current: {
                        deep: true,
                        handler() {
                            this.handleChange()
                        }
                    }
                }
            })
        })

    </script>
</body>
</html>